
<div class="main-banner">
    <div class="banner-content ">
      <h1>Counseling For Your Better Life</h1>
      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      <div class="banner-buttons">
        <button mat-raised-button color="primary">Talk to Us</button>
     
      </div>
    </div>
  </div>
  <div class="info-section">
    <div class="info-card">
      <h2>100% Confidential</h2>
      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    </div>
    <div class="info-card">
      <h2>Qualified Team</h2>
      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    </div>
    <div class="info-card">
      <h2>Individual Approach</h2>
      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    </div>
  </div>